BOT_PROXY_01=http://usuario:senha@host-01:porta
BOT_PROXY_02=http://usuario:senha@host-02:porta
BOT_PROXY_03=http://usuario:senha@host-03:porta
BOT_PROXY_04=http://usuario:senha@host-04:porta
BOT_PROXY_05=http://usuario:senha@host-05:porta
BOT_PROXY_06=http://usuario:senha@host-06:porta
BOT_PROXY_07=http://usuario:senha@host-07:porta
BOT_PROXY_08=http://usuario:senha@host-08:porta
BOT_PROXY_09=http://usuario:senha@host-09:porta
BOT_PROXY_10=http://usuario:senha@host-10:porta
BOT_PROXY_11=http://usuario:senha@host-11:porta
BOT_PROXY_12=http://usuario:senha@host-12:porta
BOT_PROXY_13=http://usuario:senha@host-13:porta
BOT_PROXY_14=http://usuario:senha@host-14:porta
BOT_PROXY_15=http://usuario:senha@host-15:porta
BOT_PROXY_16=http://usuario:senha@host-16:porta
BOT_PROXY_17=http://usuario:senha@host-17:porta
BOT_PROXY_18=http://usuario:senha@host-18:porta
BOT_PROXY_19=http://usuario:senha@host-19:porta
BOT_PROXY_20=http://usuario:senha@host-20:porta
